footer {
    // border: 1px solid red;
    // background-color: #2090d8;
    background-color: $secondaryBackground;
    padding: 10px;
    // border-top: 2px solid #ffb36a;
    // border-bottom: 2px solid #ffb36a

    p {
        text-align: center;
        // border: 1px solid green;
        margin: 0;
        // color: #fffbe3;
        color: $lightgrey;

        a {
            color: #fffbe3;
            font-weight: 600;
        }
    }
}