/* loading page styling */
.displayLoading {
     min-height: 155vh;
     width: 100%;
     background-color: $sectionsBackground;
     display: none;
     z-index: 10;
     position: absolute;

     .loadingAnimation {
          width: 200px;
          height: 200px;
          // background-color: royalblue;
          position: absolute;
          top: calc(50% - 100px);
          left: calc(50% - 100px);
          border-radius: 50%;
          border: 25px solid $accent;
          border-top: 26px solid $sectionsBackground;
          animation: spin 1s infinite linear;
     }

     @keyframes spin {
          from {
               transform: rotate(0deg);
          }
          to {
               transform: rotate(360deg);
          }
     }
}

.display {
     display:block;
}