///// MIN HEIGHT 490PX //////
@media(min-width: 480px){
     //header
    .greycurve {
        div {
            left: -7%;
            width: 107%;
            img {
                width: 220%;
            }
        }
    }
    //results sections
    h2 {
        font-size: 2.3rem;
        span {
            font-size:2rem;
        }
    }

    li {
        font-size: 1.5rem;
        line-height: 1.2;
    }
}

////// MIN HEIGHT 560PX ////////
@media(min-width: 560px) {
     //header
    h1 {
        font-size: 4.2rem;
        top: 25%;
    }
    .greycurve {
        height:350px;

        div {
            bottom: -50px;

            img {
                    width: 180%;
            }
        }
    }
}

/////// MIN HEIGHT 750PX ////////
@media(min-width: 750px){
     //header
    h1{
        font-size: 5.5rem;
        span {
            font-size:3rem;
        }
    }

    .greycurve {
        border-bottom-right-radius: 300px; 
        div {
            left:-4%;
            width: 104%;
            bottom:-40px;

            img {
                    width: 160%;
            }
        }
    }
}

///////// MIN HEIGHT 1100PX ///////
@media(min-width: 1100px){
     //header
    h1{
        top: 10%;
        font-size: 7rem;

        span {
        font-size:3.5rem;
        }
    }
    .greycurve {
        border-bottom-right-radius: 400px; 

        div {
            bottom:-90px;

            img {
                    width: 100%;
                    max-width: 1200px;
            }
        }
    }
     //form
    form {

        label {
            margin-bottom: 15px;
        }

        div {
            flex-direction: row;
            // border: 1px solid red;
            width: 550px;
            justify-content: space-between;
            align-items: center;

            input {
                width: 270px;
            }

            button {
                // height: 2.5rem;
                width: 270px;
                font-size: 0.8rem;
                padding: 10px;
                
            }
        }
    }


     //results sections
    .results {
    display: flex;
    flex-direction:row;
    max-width: 1100px;
        margin: 0 auto;
    }

    .locationBackground {
        max-width: 600px;
    }
    .errorHandling{
        span{
            display:inline;
        }
    }
    
}

@media(min-width: 1450px){
     //header
    .greycurve {
        max-width: 1450px;

        div{
            bottom: -115px;

            img{
                    max-width: 1300px;
            }
        }
    }
}