$h1Font : 'Bubblegum Sans';
$serifFont: 'Libreville';
$sansSerifFont: 'Red Hat Display';
//still need to figure these out exactly- like the 3 fonts, but matter of where to plug in a bit of serif font

//reference for now: ICON COLOURS:
//blue = #72CDE2
//yellow = #FDE145

//color possibilities: 
$bodyTextColour: #4C4C4C;
$backgroundColour: #20B5D8;
$accent: #FEEA7E;
$sectionsBackground: #FDF5F3;
$lightgrey: #d9d9d9;
