$h1Font : 'Bubblegum Sans';
$serifFont: 'Quando';
$sansSerifFont: 'Red Hat Display';
//still need to figure these out exactly- like the 3 fonts, but matter of where to plug in a bit of serif font

//reference for now: ICON COLOURS:
//blue = #72CDE2
//yellow = #FDE145

//COLOUR PALETTE POSSIBILITIES:  
$bodyTextColour: #4C4C4C;
//I'm thinking about using the blue for the entire thing? header and body? - then footer could be the body text colour with the light grey or accent for font? - feel free to experiment or tell me what you think! YES! LOVE IT!
$backgroundColour: #20B5D8;
$accent: #FEEA7E;
$sectionsBackground: #f3f3f3;
$lightgrey: #d9d9d9;
